body {
    font-family: "Helvetica Neue", "Helvetica", "Calibri", "sans"
}

.nations {
}

.nation {
	
}

.nation .nation-name {
	font-style: normal;
    font-weight: bold;
    color: #000;
}

.nation button.queue {
}

.library {
}

.library .nation .queue.remove {
}

.library .nation .tracks {
}

/* vim:set sw=4:ts=4:expandtab */
